body {
    font-family: 'Cinzel Decorative', cursive;
    background-color: rgb(67, 71, 71);
    padding-top: 1%;
}

header, #gif-buttons {
    margin-bottom: 1%;
}

h1 {
    font-size: 3em;
    color: crimson;
    font-weight: 700;
    text-shadow: 1px 1px goldenrod;
}

#add-gif {
    background-color: crimson;
    cursor: pointer;
}

.character {
    cursor: pointer;
}

.gif {
    cursor: pointer;
}

p {
    text-transform: uppercase;
    padding-left: 1%;
}

.character {
    margin-right: 1%;
    margin-bottom: 1%;
    background-color: darkgoldenrod;
}
.gifDiv {
    margin-right: 1%;
}

.rating{
    background-color: darkgoldenrod;
    color: white;
}


/*
These rules take effect when the browser's width
is either 768px or less.
*/

@media screen and (max-width: 768px) {

.gif {
    width: 100%;
}

#add-gif {
    margin-left: 15px;
}

}